body {
    font-family: 'Noto Sans TC', sans-serif;
    -webkit-overflow-scrolling: touch;
}

#background-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    /* bottom: 0; */

    background: url("../Image/bg.jpg") no-repeat center top fixed;
    z-index: -1;

    transform: translate3d(0, 0, 0);

    background-size: cover;
}

.info-hearder-font {
    font-size: 150%;
    font-weight: bold;
}

.form-warning {
    font-size: 75%;
    color: red;
}

.form-background {
    background: OldLace !important
}

.info-background {
    background: PapayaWhip !important
}

.info-type-background {
    background: PaleGoldenRod !important
}

.info-content-background {
    background: Pink !important
}

.asset-background {
    background: LemonChiffon !important
}

.asset-row-background {
    background: PaleGoldenRod !important
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}