<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="
    《甜點王子2》是一款結合「戀愛養成」&「經營模擬」的女性向手機戀愛遊戲。遊戲中，玩家將扮演擅長烘焙甜點的女主角，與哥哥「七海 怜」一起踏上尋找奇蹟甜點食譜之旅。開放式的遊戲架構帶領玩家環遊世界各地、探索各大城市，隨著知名度提升也會開啟更多的隱藏劇情，並有機會學習到更多美味的夢幻甜點喔！
    ">
    <meta name="author" content="mcgodamn">
    <title>甜點王子2會員資料確認</title>
    <link rel="shortcut icon" href="#" />

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- vue development version -->
    <!-- <script src="https://unpkg.com/vue"></script> -->
    <!-- vue production version -->
    <script src="https://unpkg.com/vue@2.6.0/dist/vue.min.js"></script>
    <!-- vue http request lib -->
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <link rel="stylesheet" href="./CSS/style.css">
</head>

<body>
    <div id="background-img"></div>
    <div id="app">
        <div class="container pl-0 pr-0">
            <div class="row pt-5 mb-1 mr-0 ml-0 pr-0 pl-0">
                <div class="col-auto mx-auto mr-0 ml-0 pr-0 pl-0">
                    <img src="./Image/logo.png" alt="甜點王子2">
                </div>
            </div>
            <div class="container pl-0 pr-0 pl-sm-1 pr-sm-1">
                <div class="mx-auto col-sm-12 col-md-9 col-lg-8 form-background rounded ">
                    <div class="row pt-3 mt-3 mt-sm-5"></div>
                    <!-- 登入頁面 -->
                    <form id="login_form" class="mt-1 mb-1" v-show="logState == $LogType.NOT_LOGIN || logState == $LogType.LOGGING">
                        <div class="form-group row">
                            <div class="dropdown col-4 col-md-2 text-center">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownInputButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    v-text="nowSelectInput.type.text"></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownInputButton">
                                    <div v-for="type in $DataType">
                                        <label class="dropdown-item" v-on:click="DataClickDropDown(type)"
                                            v-text="type.text"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 col-md-10 pl-0">
                                <div class="container">
                                    <!-- email -->
                                    <div v-show="nowSelectInput.type == $DataType.EMAIL" class="row">
                                        <input type="email" class="form-control" id="email"
                                            :placeholder=email_placeholder>
                                    </div>
                                    <!-- phone -->
                                    <div v-show="nowSelectInput.type == $DataType.PHONE" class="row">
                                        <div class="dropdown pr-3">
                                            <button class="btn btn-info dropdown-toggle" type="button"
                                                id="dropdownPhoneButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" v-text="nowSelectArea.text"></button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownPhoneButton">
                                                <div v-for="type in $AreaType">
                                                    <label class="dropdown-item" v-on:click="AreaClickDropDown(type)"
                                                        v-text="type.text"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col nopadding">
                                            <input type="tel" class="form-control" id="phone"
                                                :placeholder=phone_placeholder>
                                        </div>
                                    </div>
                                    <!-- account -->
                                    <div v-show="nowSelectInput.type == $DataType.ACCOUNT" class="row">
                                        <input type="text" class="form-control" id="account"
                                            :placeholder=account_placeholder>
                                    </div>
                                    <label style="color: red;" v-show="input_warning != ''" v-text="input_warning"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-4 col-md-2 text-center my-auto" for="pwd" v-text="password"></label>
                            <div class=" col-8 col-md-10 pl-0">
                                <input type="password" class="form-control" id="pwd" :placeholder=password_placeholder>
                                <label style="color: red;" v-show="password_warning != ''" v-text="password_warning"></label>
                            </div>
                        </div>
                    </form>
                    <!-- 結果頁面 -->
                    <div class="row mt-1 mb-1" v-show="logState == $LogType.LOGINNED">
                        <div class="container">
                            <div class="row">
                                <div class="container col-11 info-background rounded pt-3 pb-2">
                                    <div class="row">
                                        <label class="col info-hearder-font" v-text="info_hearder"></label>
                                    </div>
                                    <hr class="mt-0">
                                    <div v-for="(v, k) in php_result.info" class="row">
                                        <label class="col-4 col-md-5 text-center pr-0 pl-0" v-text="getName(k)"></label>
                                        <label class="col-8 col-md-7 text-center text-md-left pr-0 pl-0" v-text="v"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="container asset-background rounded col-11 mt-3 pt-3 mb-3 pb-2">
                                    <div class="row">
                                        <label class="col info-hearder-font" v-text="asset_hearder"></label>
                                    </div>
                                    <hr class="mt-0">
                                    <div v-for="(v, k) in php_result.asset">
                                        <div class="row" v-html="getAssetHtml(k,v)"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="mx-auto row">
                                <div class="col align-self-center text-center pl-0 pr-0 pl-sm-1 pr-sm-1">
                                    <label>最終版老玩家回饋方案仍在研擬中，</label>
                                    <label>後續進展將公布在<a href="https://www.facebook.com/EnjoyPlay.Digital/" target="_blank">《甜點王子研發團隊》</a>粉絲團。</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center mt-1 pb-2">
                        <div class="col">
                            <button v-on:click="commitInfo" type="button" class="btn btn-primary"
                                v-text="logState.text" :disabled="login.isLoading"></button>
                        </div>
                    </div>
                    <div class="row text-center mt-1 pb-2" v-show="login_error!=''">
                        <div class="col-auto" v-html="login_error"></div>
                    </div>
                    <div class="row pb-3 mb-5"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- self-define -->
    <!-- develope -->
    <script type="module" src="./Scripts/main.js"></script>
    <!-- minified -->
    <!-- <script type="module" src="Scripts/minify/main.js"></script> -->
    <!--⠀⠀⠀⠀⠀⡴⠞⠉⢉⣭⣿⣿⠿⣳⣤⠴⠖⠛⣛⣿⣿⡷⠖⣶⣤⡀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⣼⠁⢀⣶⢻⡟⠿⠋⣴⠿⢻⣧⡴⠟⠋⠿⠛⠠⠾⢛⣵⣿⠀⠀⠀⠀
    ⣼⣿⡿⢶⣄⠀⢀⡇⢀⡿⠁⠈⠀⠀⣀⣉⣀⠘⣿⠀⠀⣀⣀⠀⠀⠀⠛⡹⠋⠀⠀⠀⠀
    ⣭⣤⡈⢑⣼⣻⣿⣧⡌⠁⠀⢀⣴⠟⠋⠉⠉⠛⣿⣴⠟⠋⠙⠻⣦⡰⣞⠁⢀⣤⣦⣤⠀
    ⠀⠀⣰⢫⣾⠋⣽⠟⠑⠛⢠⡟⠁⠀⠀⠀⠀⠀⠈⢻⡄⠀⠀⠀⠘⣷⡈⠻⣍⠤⢤⣌⣀
    ⢀⡞⣡⡌⠁⠀⠀⠀⠀⢀⣿⠁⠀⠀⠀⠀⠀⠀⠀⠀⢿⡀⠀⠀⠀⠸⣇⠀⢾⣷⢤⣬⣉
    ⡞⣼⣿⣤⣄⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⣿⠀⠸⣿⣇⠈⠻
    ⢰⣿⡿⢹⠃⠀⣠⠤⠶⣼⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⣿⠀⠀⣿⠛⡄⠀
    ⠈⠉⠁⠀⠀⠀⡟⡀⠀⠈⡗⠲⠶⠦⢤⣤⣤⣄⣀⣀⣸⣧⣤⣤⠤⠤⣿⣀⡀⠉⣼⡇⠀
    ⣿⣴⣴⡆⠀⠀⠻⣄⠀⠀⠡⠀⠀⠀⠈⠛⠋⠀⠀⠀⡈⠀⠻⠟⠀⢀⠋⠉⠙⢷⡿⡇⠀
    ⣻⡿⠏⠁⠀⠀⢠⡟⠀⠀⠀⠣⡀⠀⠀⠀⠀⠀⢀⣄⠀⠀⠀⠀⢀⠈⠀⢀⣀⡾⣴⠃⠀
    ⢿⠛⠀⠀⠀⠀⢸⠁⠀⠀⠀⠀⠈⠢⠄⣀⠠⠼⣁⠀⡱⠤⠤⠐⠁⠀⠀⣸⠋⢻⡟⠀⠀
    ⠈⢧⣀⣤⣶⡄⠘⣆⠀⠀⠀⠀⠀⠀⠀⢀⣤⠖⠛⠻⣄⠀⠀⠀⢀⣠⡾⠋⢀⡞⠀⠀⠀
    ⠀⠀⠻⣿⣿⡇⠀⠈⠓⢦⣤⣤⣤⡤⠞⠉⠀⠀⠀⠀⠈⠛⠒⠚⢩⡅⣠⡴⠋⠀⠀⠀⠀
    ⠀⠀⠀⠈⠻⢧⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⣻⠿⠋⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠉⠓⠶⣤⣄⣀⡀⠀⠀⠀⠀⠀⢀⣀⣠⡴⠖⠋⠁⠀⠀⠀Oh, Hello there -->
</body>

</html>